.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.primary {
  background-color: #f0b13c;
  box-shadow: 0 5px 0 #82662f;
}

.primary:active {
  box-shadow: 0 2px 0 #82662f;
}

.secondary {
  background-color: #a7bfc9;
  box-shadow: 0 5px 0 #5c6d7b;
}
.secondary:active {
  box-shadow: 0 2px 0 #5c6d7b;
}

.button:active {
  transform: translateY(3px);
}
