.icon {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}

.icon:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 50px;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  background-color: #30c4be;
  transform: rotate(180deg);
}

.icon:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 50px;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  background-color: #30c4be;
  transform: rotate(90deg);
}

.active:before,
.active:after {
  background-color: #192a33;
}

.inactive:before,
.inactive:after {
  background-color: #a7bfc9;
}
