.icon {
  width: 15px;
  height: 50px;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  background-color: #30c4be;
  transform: rotate(45deg);
  position: relative;
}

.icon:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 50px;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  background-color: #30c4be;
  transform: rotate(-90deg);
}
